<%- include('includes/header') %>
<%- include('includes/navbar', {needFull: false}) %>

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2 style="margin: 1em 0 0.5em 0;">
                Sorry.
            </h2>
            <p>
                <%= (typeof message !== 'undefined') ? message : "" %>
            </p>
            <a href="/">
                Navigate me back to the main page.
            </a>
        </div>
    </div>
</div>

<%- include('includes/footer') %>