<%- include('includes/header') %>
<%- include('includes/navbar', {needFull: false}) %>

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h4 style="margin: 1em 0 0.5em 0;">Reset password</h4>
            <small>You will be sent an email with your new password.</small>
            <%- include('includes/message', {message: message, messageColor: messageColor}) %>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form method="POST">
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input class="form-control" type="text" id="email" name="email">
                </div>
                <button type="submit" class="btn btn-success" style="float: right;">
                    <ion-icon name="checkmark-outline"></ion-icon>&nbsp;Send
                </button>
                <a class="btn btn-danger" href="/">
                    <ion-icon name="arrow-back-outline"></ion-icon>&nbsp;Back
                </a>
            </form>
        </div>
    </div>
</div>

<%- include('includes/footer') %>