<%- include('includes/header') %>
<%- include('includes/navbar', {needFull: false}) %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h4 style="margin: 1em 0 1em 0;">
                Register
            </h4>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form method="POST">
                <% if (typeof message !== 'undefined') { %>
                    <p style="color: red;">
                        <%= message %>
                    </p>
                <% } %>
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="text" class="form-control" id="email" name="email">
                    <small id="email" class="form-text text-muted">
                        *Required
                    </small>
                </div>                    
                <div class="form-group">
                    <label for="pw">Password:</label>
                    <input type="password" class="form-control" id="pw" name="pw">
                    <small id="pw" class="form-text text-muted">
                        *Required
                    </small>
                </div>
                <p style="margin: 2em 0 0.5em 0;">
                    Optional data:
                </p>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="form-group">
                    <label for="phone">Phone number:</label>
                    <input type="text" class="form-control" id="phone" name="phone">
                </div>
                <button type="submit" style="float: right;" class="btn btn-success">
                    <ion-icon name="checkmark-outline"></ion-icon>&nbsp;Register
                </button>
                <a href="/" class="btn btn-danger">
                    <ion-icon name="arrow-back-outline"></ion-icon>&nbsp;Back
                </a>
            </form>
        </div>
    </div>
</div>

<%- include('includes/footer') %>